@import "compass/css3";

@mixin parallaxLayers($depth) {
  @include transform(translateZ($depth));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// This is the container element for parallax sections
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.top {
  @include parallaxLayers(0);
}

.middle {
  @include parallaxLayers(1);
}

.bottom {
  @include parallaxLayers(2);
}

.back {
  @include parallaxLayers(3);
  background-image: url("http://lorempixel.com/1600/920/abstract/")
}